In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
Path = 'drive/My Drive/datasets'

In [ ]:
import pandas as pd
movie = pd.read_csv(Path+'/archive/movie.csv')
ratings = pd.read_csv(Path+'/archive/rating.csv')
ratings = pd.merge(movie, ratings).drop(['timestamp','genres'], axis='columns')

In [ ]:
ratings.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       3     4.0
1        1  Toy Story (1995)       6     5.0
2        1  Toy Story (1995)       8     4.0
3        1  Toy Story (1995)      10     4.0
4        1  Toy Story (1995)      11     4.5

In [ ]:
ratings.shape

(20000263, 4)

In [ ]:
ratings = ratings.sort_index(ascending=True)

In [ ]:
ratings.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       3     4.0
1        1  Toy Story (1995)       6     5.0
2        1  Toy Story (1995)       8     4.0
3        1  Toy Story (1995)      10     4.0
4        1  Toy Story (1995)      11     4.5

In [ ]:
subset1 = ratings[:10000000]
subset5 = ratings[10000000:15000000]
subset3 = ratings[15000000:18000000]
subset4 = ratings[18000000:19000000]
subset5 = ratings[19000000:]

In [13]:
subset1 = subset1.pivot_table(values='rating', index='userId', columns='movieId')

In [ ]:
subset1.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,2158,2159,2160,2161,2162,2163,2164,2165,2166,2167
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
subset1.to_csv('subset1.csv',index=False)

In [ ]:
subset2 = subset2.pivot_table(values='rating', index='userId', columns='movieId')

In [ ]:
subset2.to_csv('subset2.csv',index=False)

In [ ]:
subset3 = subset3.pivot_table(values='rating', index='userId', columns='movieId')

In [ ]:
subset3.to_csv('subset3.csv',index=False)

In [ ]:
subset4 = subset4.pivot_table(values='rating', index='userId', columns='movieId')

In [ ]:
subset4.to_csv('subset4.csv',index=False)

In [ ]:
subset5 = subset5.pivot_table(values='rating', index='userId', columns='movieId')

In [ ]:
subset5.to_csv('subset5.csv', index=False)

In [ ]:
r_matrix = ratings.pivot_table(values='rating', index='userId', columns='movieId')

ValueError: ignored